* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

main {
    width: 500px;
    margin: 15px auto;
}

button:hover {
    cursor: pointer;
}

/* Input Panel */

.input-panel {
    width: 100%;
}
#to-do {
    width: 80%;
    height: 23px;
    padding: 5px;
}
.addTaskBtn{
    width: 19%;
    height: 23px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
}
.addTaskBtn:hover {
    background-color: #45a049;
}

/* To Do List */
h2 {
    margin-top: 15px;
}
.start-massage {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}

.to-do-list li {
    border: 1px solid black;
    padding: 5px;
    margin: 5px 0;
    list-style-type: none;
}

.to-do-list .checked {
    background-color: #a8d9b2;
    text-decoration: line-through;
}

.to-do-list li input {
    margin: 5px;
}

.to-do-list li label {
    user-select: none;
    vertical-align: middle;
}

.to-do-list .changeTaskBtn {
    background-image: url('./image/pen.png');
    background-size: contain;
    width: 23px;
    height: 23px;
    float: right;
    padding: 2px 4px;
    user-select: none;
    border: none;
    margin-right: 5px;
    background-color: transparent;
}

.to-do-list .deleteTaskBtn {
    background-image: url('./image/cross.png');
    background-size: contain;
    width: 23px;
    height: 23px;
    float: right;
    padding: 2px 4px;
    user-select: none;
    border: none;
    background-color: transparent;
}

.checkbox {
    display: none;
}

.checkbox + label {
    display: inline-block;
    width: 23px;
    height: 23px;
    background-image: url('./image/checkMark.png');
    background-size: cover;
    cursor: pointer;
    padding-left: 25px;
    line-height: 25px; /* Выравнивание текста по вертикали */
}

.checkbox:checked + label {
    background-image: url('./image/chekedMark.png');
}