* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

main {
    width: 500px;
    margin: 15px auto;
}

button:hover {
    cursor: pointer;
}

/* Input Panel */

.input-panel {
    width: 100%;
}
#to-do {
    width: 80%;
    height: 23px;
    padding: 5px;
}
.addTaskBtn{
    width: 19%;
    height: 23px;
}

/* To Do List */
h2 {
    margin-top: 15px;
}
.start-massage {
    margin: 10px 0;
    font-size: 18px;
}

.to-do-list li {
    border: 1px solid black;
    padding: 5px;
    margin: 5px 0;
    list-style-type: none;
}

.checked {
    background-color: rgb(0, 255, 0);
    text-decoration: line-through;
}

.to-do-list li input {
    margin: 5px;
}

.to-do-list li label {
    user-select: none;
}

.to-do-list .deleteTaskBtn {
    float: right;
    padding: 2px 4px;
    user-select: none;
}